################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.pdb
*.ipdb
*.iobj
*.exe
*.opendb
*.db
*.tlog
*.obj
*.log
*.user
*.idb
*.ilk
